li{
    font-style: italic;
    

}
td{
    color: cadetblue;
}
.ols{
    color: green;

}
.uls{
    color: aqua;
}
.tds{
    text-align: left;

}
.tds1{
    text-align: center;
}
.h22{
    text-align: center;
}
.table1{
    text-align: center;
}