jp{
color: blueviolet;
}
h1{
    font-style: italic;
    
}



https://www.placementindia.com/job-detail/free-technical-internship-jobs-in-mangalore-dakshina-kannada-for-epitas-software-llp-993944.htm

http://commissionergordon.github.io/Recipe/#functional-requirements

https://data-flair.training/blogs/android-task-reminder-app/
