jp{
color: blueviolet;
}
h1{
    font-style: italic;
    
}

https://www.simplyhired.co.in/search?q=mca+internship+with+stipend&job=LWLcrYNgjFT073yUvknEsSM_kixw328C5K0xVdl4QktD4ExsruODWw

https://www.placementindia.com/job-detail/free-technical-internship-jobs-in-mangalore-dakshina-kannada-for-epitas-software-llp-993944.htm

http://commissionergordon.github.io/Recipe/#functional-requirements

https://data-flair.training/blogs/android-task-reminder-app/
